#newsletter-keyword-replacements { padding-left: 25px; margin-bottom: 10px; }
#newsletter-keyword-replacements li { font-size: 12px; list-style: disc; }
#newsletter-keyword-replacements li strong { font-size: 12px; }